lib/flows/flows.json
[
    {
        "id": "9ab91bb2.9ce5d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb177b7a3a450978",
        "type": "log-elk-logger",
        "name": "",
        "url": "http://localhost:9200",
        "username": "",
        "password": "",
        "filename": "log-elk.log",
        "maxsize": "1",
        "maxfiles": "2",
        "logelk": false,
        "logfile": true,
        "logconsole": false,
        "logdebug": false
    },
    {
        "id": "cf6ba580.d136e8",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "60a66926.ec01b8"
            ]
        ]
    },
    {
        "id": "af5b81a5.e0df8",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "60a66926.ec01b8",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "response",
        "rules": [
            {
                "t": "set",
                "p": "payload.running",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.port",
                "pt": "msg",
                "to": "PORT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "78818fdeea21a879"
            ]
        ]
    },
    {
        "id": "0d0f36e03fc1294a",
        "type": "inject",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 340,
        "wires": [
            [
                "ea1a2f45cc6ced19"
            ]
        ]
    },
    {
        "id": "2c1aca3611803392",
        "type": "debug",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "ea1a2f45cc6ced19",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NOME",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "2c1aca3611803392"
            ]
        ]
    },
    {
        "id": "78818fdeea21a879",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "response",
        "rules": [
            {
                "t": "set",
                "p": "payload.running",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.port",
                "pt": "msg",
                "to": "PORT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "af5b81a5.e0df8"
            ]
        ]
    },
    {
        "id": "0c7130b9498cc216",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/page",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "8f7f5ff2eed55565"
            ]
        ]
    },
    {
        "id": "8f7f5ff2eed55565",
        "type": "template",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Hello world in HTML!</h1>",
        "output": "str",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "6c9d9d2f6c16ca7f"
            ]
        ]
    },
    {
        "id": "6c9d9d2f6c16ca7f",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 120,
        "wires": []
    }
]